@{
    ViewBag.Title = "Home Page";
}
<input type="file" name="archivo">
<!--
<div class="form-group">
    <label for="operador1">Operador</label>
    <input type="text" class="form-control" id="operador1" placeholder="Escribe el 1er operador">
</div>

<div class="form-group">
    <label for="operador2">Operador</label>
    <input type="text" class="form-control" id="operador2" placeholder="Escribe el 2o operador">
</div>

<div class="form-group">
    <label for="resultadoSuma">Sumar</label>
    <input type="text" class="form-control" id="resultadoSuma" readonly>
</div>
<div class="form-group">
    <label for="resultadoResta">Restar</label>
    <input type="text" class="form-control" id="resultadoResta" readonly>
</div>

-->
<!--<div id="tablaDatos"></div>

<button type="button" class="btn btn-primary" onclick="sumarOperadores()">Operaciones</button>
<button type="button" class="btn btn-primary" onclick="cargaTabla()">Tabla</button>
-->
<script type="text/javascript">
    function sumarOperadores() {
        var op1 = $("#operador1").val();
        var op2 = $("#operador2").val();
        console.log(op1, op2);
        //"etiqueta":valor , "etiqueta": valor
        var datos = { "o1": op1, "o2": op2 };

        $.post("@Url.Action("operaciones","Home")", datos, function (resultado){
            console.log(resultado);
            $("#resultadoSuma").val(resultado.suma);
            $("#resultadoResta").val(resultado.resta);
        });
    }
    function cargaTabla() {
        $.post("@Url.Action("tablaDatos", "Home")", function (vistaTabla) {
            $("#tablaDatos").html(vistaTabla);
        });
    }
</script>