<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="text-center bg-info mb-2">
        <span><b><p2>Shakespares</p2></b>  </span> <br />
        <span><b>Pedro de Jesus Cantú Olivares</b> </span> <br />
        <span><b>Axel López Rodríguez </b> </span> <br />
        <h4>Proyecto de Compiladores e Intérpretes A</h4>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Shakespares 2020</p>
        </footer>
    </div>
</body>
</html>
